.tab-group {
  display: flex;
  flex-direction: row;
  padding: 12px;
  button {
    flex: 1;
    color: white;
    background-color: lightpink;
    &.active {
      background-color: tomato;
    }
    &:nth-child(1) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:nth-child(2) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
